<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head") %>

    <body>
        <%- include("../partials/header") %>
            <main class="admin-main">

                <section class="create-form">
                    <h2 class="title-admin">Edita este producto</h2>
                    <form class="create" action='/products/adminEdit/<%=productEdit[0].id%>?_method=PUT' method="POST" enctype="multipart/form-data"> 
                        <input type="text" name="fullName" id="fullName" minlength="2" placeholder="Nombre del producto" value ="<%= productEdit[0].fullName%> "
                            required>
                        <input type="number" name="price" id="price" minlength="2" placeholder="Precio del producto" value ="<%= productEdit[0].price%> "
                            required>

                        <section class="container-lineform">
                            <h3>Seleciona la linea del producto</h3>
                            <select class="select_service" name="product_line" id="product_line" type="select">
                                
                                <option value="Linea fashion ">Linea fashion</option>
                                <option value="Linea deportiva">Linea deportiva</option>
                                <option value="Linea industrial">Linea industrial</option>
                                <option value="Linea medica">Linea medica</option>
                            </select>

                            <h3>Seleciona la actividad</h3>
                            <select class="select_service" name="activity" id="activity" type="select">
                                <option selected="" value="Sublinea de producto">Subinea de producto</option>
                                <option value="Eventos">Eventos </option>
                                <option value="Emprendimientos">Emprendimientos</option>
                                <option value="Celebraciones">Celebraciones</option>
                                <option value="Tendencias">Tendencias</option>
                                <option value="Empresariales">Empresariales</option>
                                <option value="Fashion">Fashion</option>
                                <option value="Presentación">Presentación</option>
                                <option value="Basketball">Basketball</option>
                                <option value="Voleyball">Voleyball</option>
                                <option value="Futbol">Futbol</option>
                                <option value="Salud">Salud</option>
                            </select>

                            <h3>Selecciona la subactividad</h3>
                            <select class="subactivity" name="subactivity" type="select" multiple>
                                <option value="Campañas publicitarias">Campañas publicitarias</option>
                                <option value="Campañas políticas">Camapañas politicas </option>
                                <option value="Eventos coporporativos">Eventos corpotativos</option>
                                <option value="Comidas rápidas">Comidas rádipas</option>
                                <option value="Restaurantes">Restaurantes</option>
                                <option value="Almacenes">Almacenes</option>
                                <option value="Negocios">Negocios</option>
                                <option value="Cumpleaños">Cumpleaños</option>
                                <option value="Baby showers">Baby showers</option>
                                <option value="Días especiales">Días especiales</option>
                                <option value="Diseños de temporada">Diseños de temporada</option>
                                <option value="Diseños exclusivos">Diseños exclusivos</option>
                                <option value="Empresas">Empresas</option>
                                <option value="Negocios">negocios</option>
                                <option value="Emprendimientos">Emprendimientos</option>
                                <option value="Última moda">Última moda</option>
                                <option value="Re ventas">Re ventas</option>
                                <option value="Almacenes de ropa">Almacenes de ropa</option>
                                <option value="Consorcios">Consorcios</option>
                                <option value="Empresas sector industrial, educativo, administrativo">Empresas sector:
                                    industrial,educativo, administrativo</option>
                                <option value="Escuelas de futbol">Escuelas de futbol</option>
                                <option value="Torneos de colegio">Torneos de colegio</option>
                                <option value="Torneos de barrio">Torneos de barrio</option>
                                <option value="Torneos de empresas">Torneos de empresas</option>
                                <option value="Hospitales">Hospitales</option>
                                <option value="Bomberos">Bomberos</option>
                                <option value="Consultorios">Consultorios</option>
                                <option value="Estéticas"> Estéticas</option>
                            </select>

                            <h3>Seleciona la Técnica</h3>
                            <select class="select_service" name="technique" id="select-service" type="select">
                                <option selected="" value="Técnica de producto">Técnica de producto</option>
                                <option value="Full color sublimación">Full color sublimación</option>
                                <option value="Serigrafia 1 tintas">Serigrafia 1 tinta</option>
                                <option value="Serigrafia 2 tintas">Serigrafia 2 tintas</option>
                                <option value="Vinilo textil 1 color">Vinilo textil 1 color</option>
                                <option value="Vinilo textil 2 colores">Vinilo textil 2 colores</option>
                            </select>

                            <h3>Seleciona el tipo de tela</h3>
                            <div class="tipo-tela">
                                <label for="Algodon"><input type="checkbox" name="material" id="algodon" value="Algodon">Algodón</label>
                                <label for="Poliester"><input type="checkbox" name="material" id="poliester" value="Poliester">Poliester</label>
                                <label for="Algodon-peinado"><input type="checkbox" name="material" id="algodon peinado" value="Algodon">Algodón peinado</label>
                                <label for="Piel de durazno"><input type="checkbox" name="material" id="piel-de-durazno" value="Piel de durazno" >Piel de durazno</label>
                                <label for="Antifluido"><input type="checkbox" name="material" id="Antifluido" value="Antifluido">Antifluido</label>
                                <label for="Perchado"><input type="checkbox" name="material" id="Perchado" value="Perchado">Perchado</label>
                                <label for="Dry fit"><input type="checkbox" name="material" id="Dry fit" value="Dry fit">Dry fit</label>
                                <label for="Poli licra"><input type="checkbox" name="material" id="Poli licra" value="Poli licra">Poli licra</label>
                                <label for="Fornax térmico"><input type="checkbox" name="material" id="Fornax térmico" value="Fornax térmico">Fornax térmico</label>
                                <label for="Drill nacional"><input type="checkbox" name="material" id="Drill nacional" value="Drill nacional">Drill nacional</label>
                                <label for="Politex"><input type="checkbox" name="material" id="Politex" value="Politex">Politex</label>
                            
                            </div>

                            <figure class="container_product">
                                <img class="product_edit" src="/img/<%=productEdit[0].image%>" alt="camiseta_fashion">
                            </figure>
                            <h3 class="create-select">Selecciona un archivo</h3>
                            <input type="file" name="image" accept=".jpg , .png">
                            <div class="container_description">
                                <div class="save">
                                    <button class="buttons" type="submit" class="submit" value="Enviar">Guardar</button>
                                </div>
                    </form>
                </section>





            </main>
            <%- include("../partials/footer") %>
    </body>