<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head") %>

    <body>
        <%- include("../partials/header") %>
            <main class="admin-main">

                <% if(locals.errors == undefined && productEdit !== undefined){ %> 
                <section class="create-form">
                    <h2 class="title-admin">Edita este producto</h2>

                    <form id="form" class="create" action='/products/adminEdit/<%=productEdit[0].product_id%>?_method=PUT' method="POST" enctype="multipart/form-data"> 
                        <input type="text" name="fullName" id="fullName" minlength="2" placeholder="Nombre del producto" value ="<%=productEdit[0].fullname%>">
                        <div id="fullName_error"></div>
                        <input type="number" name="price" id="price" minlength="2" placeholder="Precio del producto"  value ="<%=productEdit[0].price%>">
                        
                        <section class="container-lineform">
                            <h3>Seleciona la linea del producto</h3>
                            <select class="select_service" name="productLine" id="product_line" >
                                <%productEdit[1].forEach(line =>{ %>
                                <option value="<%=line.line_id%>"<%= productEdit[0].line.dataValues.line == line.line ? "selected" : ""%>><%=line.dataValues.line%></option>
                                <%})%>
                            </select>
                            
                            <h3>Seleciona la actividad</h3>
                            <select class="select_service" name="activity" id="activity" >
                                <%productEdit[2].forEach(activity =>{ %>
                                <option value="<%=activity.activity_id%>"<%= productEdit[0].activity_id_activities[0].dataValues.activity == activity.activity ? "selected" : ""%>><%=activity.dataValues.activity%></option>
                                <%})%>
                            </select>

                            <h3>Selecciona la subactividad</h3>
                            <div class="tipo-tela">
                                <%productEdit[3].forEach(subactivity =>{ %>
                                    <label for="<%=subactivity.dataValues.subactivity%>">
                                    <input type="checkbox" name="subactivity" id="subactivity" value="<%=subactivity.subactivity_id%>"
                                        <% const findsubactivity = productEdit[0].subactivity_id_subactivities.map(subactivity => subactivity.subactivity)%>
                                        <%=findsubactivity.includes(subactivity.dataValues.subactivity) ? "checked" : ""%>                                 
                                        ><%=subactivity.dataValues.subactivity%></label>
                                    <%})%>
                                </div>

                            <h3>Seleciona la Técnica</h3>
                            <div class="tipo-tela">
                                <%productEdit[4].forEach(technique =>{ %>
                                    <label for ="<%=technique.dataValues.technique%>">
                                    <input type="checkbox" name="technique" id="technique" value="<%=technique.technique_id%>"
                                    <%const findTechnique = productEdit[0].technique_id_techniques.map(technique => technique.technique)%>
                                        <%=findTechnique.includes(technique.dataValues.technique) ? "checked" : ""%>                                 
                                        ><%=technique.dataValues.technique%></label>                             
                                <%})%>
                                          </div>
                            <h3>Seleciona el tipo de tela</h3>
                            <div class="tipo-tela">
                                <%productEdit[5].forEach(material =>{ %>
                                    <label for ="<%=material.dataValues.material%>">
                                    <input type="checkbox" name="material" id="algodon" value="<%=material.material_id%>"
                                    <% const findMaterial = productEdit[0].material_id_materials.map(material => material.material)%>
                                        <%=findMaterial.includes(material.dataValues.material) ? "checked" : ""%>                                 
                                        ><%=material.dataValues.material%></label>                             
                                <%})%>
                            </div>
                                
                            
                            <figure class="container_product">
                                <img class="product_edit" src="/img/products_image/<%=productEdit[0].image%>" alt="camiseta_fashion">
                            </figure>
                            <h3 class="create-select">Selecciona un archivo</h3>
                            <input id="image" type="file" name="image" accept=".jpg , .png">
                            <div id="image_error"></div>
                            <div class="container_description">
                                <div class="save">
                                    <button class="buttons" type="submit" class="submit" value="Enviar">Guardar</button>
                                </div>
                            </div>
                    </form>
                </section>
                <% } %> 
<!--------------------------------------------------- VISTA CON ERRORES -------------------------------------------------------------->
                <% if(locals.errors !== undefined && product !== undefined){ %> 
                    <section class="create-form">
                        <h2 class="title-admin">Edita este producto</h2>
    
                        <form id="form" class="create" action='/products/adminEdit/<%=id%>?_method=PUT' method="POST" enctype="multipart/form-data"> 
                            <input 
                                type="text" 
                                name="fullName" 
                                id="fullName" 
                                minlength="2" 
                                placeholder="Nombre del producto" 
                                value ="<%= locals.product ? product.fullName : null %>">
                            <% if(locals.errors && errors.fullName) { %>
                                <div class="danger_text"> <%= errors.fullName.msg %> </div>
                                <% } %> 
                                <div id="fullName_error"></div>

                            <input 
                                type="number" 
                                name="price" 
                                id="price" 
                                minlength="2" 
                                placeholder="Precio del producto"  
                                value ="<%= locals.product ? product.price : null %>">
                            <% if(locals.errors && errors.price) { %>
                                <div class="danger_text"> <%= errors.price.msg %> </div>
                                <% } %>

                            <section class="container-lineform">
                                <h3>Seleciona la linea del producto</h3>
                                <select 
                                    class="select_service" 
                                    name="productLine" 
                                    id="product_line" >
                                    <%productEdit[1].forEach(line =>{ %>
                                    <option 
                                        value="<%=line.line_id%>"<%= locals.product && product.productLine && product.productLine == line.line_id ? "selected" : ""%>><%=line.dataValues.line%></option>
                                    <%})%>
                                </select>
                                <% if(locals.errors && errors.productLine) { %>
                                    <div class="danger_text"> <%= errors.productLine.msg %> </div>
                                    <% } %> 
                                
                                <h3>Seleciona la actividad</h3>
                                <select 
                                    class="select_service" 
                                    name="activity" 
                                    id="activity" >
                                    <%productEdit[2].forEach(activity =>{ %>
                                    <option 
                                        value="<%=activity.activity_id%>"<%= locals.product && product.activity && product.activity == activity.activity_id ? "selected" : ""%>><%=activity.dataValues.activity%></option>
                                    <%})%>
                                </select>
                                <% if(locals.errors && errors.activity) { %>
                                    <div class="danger_text"> <%= errors.activity.msg %> </div>
                                    <% } %> 
    
                                <h3>Selecciona la subactividad</h3>
                                    <div class="tipo-tela">
                                        <%productEdit[3].forEach(subactivity =>{ %>
                                            <label 
                                                for="<%=subactivity.dataValues.subactivity%>">
                                            <input 
                                                type="checkbox" 
                                                name="subactivity" 
                                                id="subactivity" 
                                                value="<%=subactivity.subactivity_id%>"
                                            <% if(Array.isArray(product.subactivity)){%> 
                                                <%const findsubactivity = product.subactivity.map(i=>Number(i))%>
                                                <%=findsubactivity.includes(subactivity.subactivity_id) ? "checked" : ""%>  
                                                ><%=subactivity.dataValues.subactivity%></label>
                                            <%}else{%>
                                                <%= locals.product && product.subactivity &&  product.subactivity == subactivity.subactivity_id ? "checked" : ""%>  
                                                ><%=subactivity.dataValues.subactivity%></label>
                                                <%}%>
                                        <%})%>
                                    </div>
                                <% if(locals.errors && errors.subactivity) { %>
                                    <div class="danger_text"> <%= errors.subactivity.msg %> </div>
                                    <% } %> 

    
                                <h3>Seleciona la Técnica</h3>
                                    <div class="tipo-tela">
                                        <%productEdit[4].forEach(technique =>{ %>
                                            <label 
                                                for ="<%=technique.dataValues.technique%>">
                                            <input 
                                                type="checkbox" 
                                                name="technique" 
                                                id="technique" 
                                                value="<%=technique.technique_id%>"
                                                <% if(Array.isArray(product.technique)){%> 
                                                    <%const findTechnique = product.technique.map(i=>Number(i))%>
                                                    <%=findTechnique.includes(technique.technique_id) ? "checked" : ""%>  
                                                    ><%=technique.dataValues.technique%></label>
                                                <%}else{%>
                                                    <%= locals.product && product.technique &&  product.technique == technique.technique_id ? "checked" : ""%>  
                                                    ><%=technique.dataValues.technique%></label>
                                                    <%}%>                          
                                        <%})%>
                                    </div>
                                <% if(locals.errors && errors.technique) { %>
                                    <div class="danger_text"> <%= errors.technique.msg %> </div>
                                <%}%> 

                                <h3>Seleciona el tipo de tela</h3>
                                <div class="tipo-tela">
                                    <%productEdit[5].forEach(material =>{ %>
                                        <label 
                                            for="<%=material.dataValues.material%>">
                                        <input 
                                            type="checkbox" 
                                            name="material" 
                                            id="material" 
                                            value="<%=material.material_id%>"
                                            <% if(Array.isArray(product.material)){%> 
                                                <%const findMaterial = product.material.map(i=>Number(i))%>
                                                <%=findMaterial.includes(material.material_id) ? "checked" : ""%>  
                                                ><%=material.dataValues.material%></label>
                                            <%}else{%>
                                                <%= locals.product && product.material &&  product.material == technique.material_id? "checked" : ""%>  
                                                ><%=material.dataValues.material%></label>
                                                <%}%>                          
                                    <%})%>
                                </div>
                                <% if(locals.errors && errors.material) { %>
                                    <div class="danger_text"> <%= errors.material.msg %> </div>
                                    <% } %> 
                                
                                <figure class="container_product">
                                    <img class="product_edit" src="/img/products_image/<%=productEdit[0].image%>" alt="camiseta_fashion">
                                </figure>
                                <h3 class="create-select">Selecciona un archivo</h3>
                                    <input 
                                        type="file" 
                                        name="image" 
                                        id="image"
                                        accept=".jpg , .png, .gif">
                                <%if(locals.errors && errors.image){%>
                                    <div class="danger_text"> <%= errors.image.msg %> </div>
                                <%}%> 
                                <div id="image_error"></div>
                                <div class="container_description">
                                    <div class="save">
                                        <button class="buttons" type="submit" class="submit" value="Enviar">Guardar</button>
                                    </div>
                                </div>
                            </section>
                        </form>
                    </section>
                    <% } %> 

            </main>
            <%- include("../partials/footer") %>
            <script src="/js/validateAdmin.js"></script>
    </body>
</html>