<!DOCTYPE html>
<html lang="en">
    <%- include("../partials/head") %>
<body>
    <%- include("../partials/header") %>
    <main class = "admin-main">
        

    <% if(locals.errors == undefined && models !== undefined){ %> 
        <section class= "create-form">
            <h2 class="title-admin">Crea un nuevo producto</h2>
            <form id="form" class= "create" method="post" action="/products/adminCreate" enctype="multipart/form-data">
                <input 
                    type="text" 
                    name="fullName" 
                    id="fullName" 
                    minlength="5" 
                    placeholder="Nombre del producto">
                <%if(locals.errors && errors.fullName){%>
                    <div class="danger_text"><%= errors.fullName.msg %> </div>
                <%}%> 
                <div id="fullName_error"></div>
                <input 
                    type="number" 
                    name="price" 
                    id="price" 
                    minlength="2" 
                    placeholder="Precio del producto" >
                <% if(locals.errors && errors.price) { %>
                    <div class="danger_text"> <%= errors.price.msg %> </div>
                <%}%> 

            <section class="container-lineform">
                <h3>Seleciona la linea del producto</h3>
                    <select 
                        class="select_service" 
                        name="productLine" 
                        id="select-service" 
                        type="select" >
                        <option value=""></option>
                        <%models[0].forEach(line =>{ %>
                            <option value="<%=line.line_id%>"><%=line.line%></option>
                        <%})%>
                    </select>
                <%if(locals.errors && errors.productLine){%>
                    <div class="danger_text"> <%= errors.productLine.msg %>/div>
                <%}%> 

                <h3>Seleciona la actividad</h3>
                    <select 
                        class="select_service" 
                        name="activity" 
                        id="select-service" 
                        type="select" >
                        <option value=""></option>
                        <%models[1].forEach(activity =>{ %>
                            <option value="<%=activity.activity_id%>"><%=activity.activity%></option>
                            <%})%>
                    </select>
                <%if(locals.errors && errors.activity){%>
                    <div class="danger_text"> <%= errors.activity.msg %> </div>
                <%}%> 

                <h3>Selecciona la subactividad</h3>
                    <div class="select_service">
                        <%models[2].forEach(subactivity =>{ %>
                            <label for="<%=subactivity.subactivity%>">
                                <input 
                                    type="checkbox" 
                                    name="subactivity" 
                                    id="subactivity" 
                                    value="<%=subactivity.subactivity_id%>"><%=subactivity.subactivity%></label>                               
                        <%})%>
                    </div>
                <% if(locals.errors && errors.subactivity) { %>
                    <div class="danger_text"> <%= errors.subactivity.msg %> </div>
                <%}%> 

            <h3>Seleciona la Técnica</h3>

            <div class= "tipo-tecnica">
                <%models[3].forEach(technique =>{ %>
                    <label for ="<%=technique.technique%>">
                    <input 
                        type="checkbox" 
                        name="technique" 
                        id="technique" 
                        value="<%=technique.technique_id%>"><%=technique.technique%></label>                                  
                <%})%>
            </div>
            <% if(locals.errors && errors.technique) { %>
                <div class="danger_text"> <%= errors.technique.msg %> </div>
                <% } %> 
                
                <h3>Seleciona el tipo de tela</h3>
                <div class="tipo-tela">
                    <%models[4].forEach(material =>{ %>
                        <label for ="<%=material.material%>">
                        <input 
                            type="checkbox" 
                            name="material" 
                            id="material" 
                            value="<%=material.material_id%>"
                                        ><%=material.material%></label>     
                    <%})%>
                </div>      
                <% if(locals.errors && errors.material) { %>
                    <div class="danger_text"> <%= errors.material.msg %> </div>
                    <% } %>           
            </section>
              <div class= "container-lineform">
            <h3>Selecciona un archivo</h3>
                <input 
                    type="file" 
                    name="image"
                    id="image" 
                    accept=".jpg, .png">
            </div>
            <% if(locals.errors && errors.image) { %>
                <div class="danger_text"> <%= errors.image.msg %> </div>
            <% } %>   
            <div id="image_error"></div>
                <div class="container_description">
                    <div class = "save">
                        <button class = "buttons" type="submit" class="submit" value="Guardar">Guardar</button>
                    </div>
                </form>
            </section>

            <%}%> 



        <!------------------------------- VISTA ERRORES  --------------------------->
        <% if(locals.errors !== undefined && products !== undefined){ %> 
        <section class= "create-form">
            <h2 class="title-admin">Crea un nuevo producto</h2>
            <form id="form" class= "create" method="post" action="/products/adminCreate" enctype="multipart/form-data">
                <input 
                    type="text" 
                    name="fullName" 
                    id="fullName" 
                    minlength="5" 
                    placeholder="Nombre del producto" 
                    value ="<%= locals.products ? products.fullName : null %>">
                <%if(locals.errors && errors.fullName){%>
                    <div class="danger_text"><%= errors.fullName.msg %> </div>
                <%}%> 
                <input 
                    type="number" 
                    name="price" 
                    id="price" 
                    minlength="2" 
                    placeholder="Precio del producto" 
                    value ="<%= locals.products ? products.fullName : null %>">
                <% if(locals.errors && errors.price) { %>
                    <div class="danger_text"> <%= errors.price.msg %> </div>
                <%}%> 

            <section class="container-lineform">
                <h3>Seleciona la linea del producto</h3>
                    <select 
                        class="select_service" 
                        name="productLine" 
                        id="select-service" 
                        type="select" >
                        <option value=""></option>
                        <%models[0].forEach(line =>{ %>
                            <option value="<%=line.line_id%>"<%= locals.products && products.productLine == line.line_id ? "selected" : ""%>><%=line.line%></option>
                            <%})%>
                    </select>
                <%if(locals.errors && errors.productLine){%>
                    <div class="danger_text"> <%= errors.productLine.msg %></div>
                <%}%> 

                <h3>Seleciona la actividad</h3>
                    <select 
                        class="select_service" 
                        name="activity" 
                        id="select-service" 
                        type ="select" >
                        <option value=""></option>
                        <%models[1].forEach(activity =>{ %>
                            <option value="<%=activity.activity_id%>"<%= locals.products && products.activity == activity.activity_id ? "selected" : ""%>><%=activity.activity%></option>
                            <%})%>
                    </select>
                <%if(locals.errors && errors.activity){%>
                    <div class="danger_text"> <%= errors.activity.msg %> </div>
                <%}%> 

                <h3>Selecciona la subactividad</h3>
                    <div class="select_service">
                        <%models[2].forEach(subactivity =>{ %>
                            <label for="<%=subactivity.subactivity%>">
                                <input 
                                    type="checkbox" 
                                    name="subactivity" 
                                    id="subactivity" 
                                    value="<%=subactivity.subactivity_id%>"

                                    <% if(Array.isArray(products.subactivity)){%> 
                                        <%const findsubactivity = products.subactivity.map(i=>Number(i))%>
                                        <%=findsubactivity.includes(subactivity.subactivity_id) ? "checked" : ""%>  
                                        ><%=subactivity.subactivity%></label>
                                    <%}else{%>
                                        <%= locals.products && products.subactivity &&  products.subactivity == subactivity.subactivity_id ? "checked" : ""%>  
                                        ><%=subactivity.subactivity%></label>
                                        <%}%>                        
                        <%})%>
                    </div>
                <% if(locals.errors && errors.subactivity) { %>
                    <div class="danger_text"> <%= errors.subactivity.msg %> </div>
                <%}%> 

            <h3>Seleciona la Técnica</h3>

            <div class= "tipo-tecnica">
                <%models[3].forEach(technique =>{ %>
                    <label for ="<%=technique.technique%>">
                    <input 
                        type="checkbox" 
                        name="technique" 
                        id="technique" 
                        value="<%=technique.technique_id%>"

                        <% if(Array.isArray(products.technique)){%> 
                            <%const findtechnique = products.technique.map(i=>Number(i))%>
                            <%=findtechnique.includes(technique.technique_id) ? "checked" : ""%>  
                            ><%=technique.technique%></label>
                        <%}else{%>
                            <%= locals.products && products.technique &&  products.technique == technique.technique_id ? "checked" : ""%>  
                            ><%=technique.technique%></label>
                            <%}%>                                  
                <%})%>
            </div>
            <% if(locals.errors && errors.technique) { %>
                <div class="danger_text"> <%= errors.technique.msg %> </div>
                <% } %> 
                
                <h3>Seleciona el tipo de tela</h3>
                <div class="tipo-tela">
                    <%models[4].forEach(material =>{ %>
                        <label for ="<%=material.material%>">
                        <input 
                            type="checkbox" 
                            name="material" 
                            id="material" 
                            value="<%=material.material_id%>"
                            <% if(Array.isArray(products.material)){%> 
                                <%const findmaterial = products.material.map(i=>Number(i))%>
                                <%=findmaterial.includes(material.material_id) ? "checked" : ""%>  
                                ><%=material.material%></label>
                            <%}else{%>
                                <%= locals.products && products.material &&  products.material == material.material_id ? "checked" : ""%>  
                                ><%=material.material%></label>
                                <%}%>       
                    <%})%>
                </div>      
                <% if(locals.errors && errors.material) { %>
                    <div class="danger_text"> <%= errors.material.msg %> </div>
                <%}%> 

            </section>
              <div class= "container-lineform">
            <h3>Selecciona un archivo</h3>
                <input 
                    type="file" 
                    name="image" 
                    accept=".jpg, .png">
            </div>
            <% if(locals.errors && errors.image) { %>
                <div class="danger_text"> <%= errors.image.msg %> </div>
                <% } %>   
                <div class="container_description">
                    <div class = "save">
                        <button 
                            class="buttons" 
                            type="submit" 
                            class="submit" 
                            value="Guardar">Guardar</button>
                    </div>
                </form>
            </section>
            <% } %>  
        </main>
        <script src="/js/eventNavBar.js"></script>
        <%- include("../partials/footer") %>
        <script src="/js/validateAdmin.js"></script>
    </body>
</html>