<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head") %>

    <body>
        <%- include("../partials/header") %>
            <main>
                <section class="info_profile">
                    <form class="login_form" action="/">
                        <% if(user[0]) {%> 
                            <article class="description_profile">
                                <table class="table_profile">
                                    <tbody>
                                        <tr>
                                            <td class="user_image">
                                                <figure class="container_image">
                                                    <img class="image_user" src="/img/users_avatars/<%= user[0].avatar%> " alt="Imagen del producto">
                                                </figure>
                                                <div class="welcome_user">
                                                    <span>Tu perfil</span>
                                                    <span><%= user[0].name%></span>
                                                </div>
                                            </td>
                                            
                                            <td class="user_name" data-title="Nombre"><span class="info"><%= user[0].name%></span></td>
                                            <td class="user_LastName" data-title="Apellidos"><span class="info"><%= user[0].lastname%></span></td>
                                            <td class="user_email" data-title="Correo electrónico"><span class="info"><%=user[0].email%></span></td>
                                            <td class="edit" data-title="Editar"><span class="info"><a href="/users/userEdit/<%=user[0].user_id%>"><i class="far fa-edit"></i></a></span></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </article>
                        <% }else{ %> 
                            <section class="info_profile">
                            <form class="login_form" action="/">
                            <article class="description_profile">
                                <table class="table_profile">
                                    <tbody>
                                        <tr>
                                            <td class="user_image">
                                                <figure class="container_image">
                                                    <img class="image_user" src="/img/users_avatars/<%= user.avatar%> " alt="Imagen del producto">
                                                </figure>
                                                <div class="welcome_user">
                                                    <span>Tu perfil</span>
                                                    <span><%= user.name%></span>
                                                </div>
                                            </td>
                                            
                                            <td class="user_name" data-title="Nombre"><span class="info"><a href="#"><%= user.name%> </a></span></td>
                                            <td class="user_LastName" data-title="Apellidos"><span class="info"><%= user.lastname%></span></td>
                                            <td class="user_email" data-title="Correo electrónico"><span class="info"><%=user.email%></span></td>
                                            <td class="edit" data-title="Editar"><span class="info"><a href="/users/userEdit/<%=user.user_id%>"><i class="far fa-edit"></i></a></span></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </article>
                        <% }%>
                    </form>
                </section>
            </main>
            <%- include("../partials/footer") %>
    </body>

</html>